* {
    box-sizing: border-box;
}

@media (max-width: 800px) {
    h2 {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0.5em 15px;
    }

    header {
        flex: 0 1;
    }

    .controls {
        flex: 0 1;
        order: 1;
    }

    .words {
        margin-top: 1em;
        flex: 1;
    }

    .wordCtn {
        font-size: 1.1em;
    }

    .translateAllBtn {
        display: none;
    }
    
    .translationTitle {
        display: inline;
    }

    .seeAllBtn {
        float: right;
    }
}

@media (min-width: 801px) {
    h2 {
        padding-top: 1em;
    }

    .seeAllBtn {
        /* display: none; */
    }

    .translationTitle {
    }

    .container > * {
        margin: 2em;
    }
}

.seeAllBtn {
    cursor: pointer;
}

.filtersTitle {
    color: gray;
    text-transform: uppercase;
}

.translationTitle {
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: -1;
}

textarea {
    margin-top: 1em;
}

.words {
    margin-top: 1em;
}

.words > div {
    display: inline-block;
    vertical-align: top;
}

.wordCtn.expanded {
    padding: 0.25em 0;
}

.word {
    display: inline-block;
    cursor: pointer;
    color: #111;
    text-align: center;
    transition: background 250ms;
    user-select: none;
    margin-bottom: 2px;
}

.wordCtn {
    text-align: center;
    padding: 0.2em 0;
}

.word.expanded {
    display: block;
    color: #999;
}

.word:hover  {
    /* transform: translateY(-5px); */
    border-bottom: 2px solid rgb(230, 230, 230);
}

.details {
    transition: all 500ms;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

    pointer-events: none;

    max-width: 0px;
    max-height: 0px;
    opacity: 0;
}

.viagra-enter .details {
    display: block;
}

.viagra-enter-done .details {
    display: block;
    transition: all 500ms, opacity 250ms;
    visibility: visible;
    max-width: 500px;
    max-height: 500px;
    opacity: 1;
}

.viagra-exit .details {
    visibility: hidden;
}

.viagra-exit-done {
    display: none;
}




.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.filter {
    cursor: pointer;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    display: inline-block;
    /* padding: .5em 1em; */
    /* margin: 0.2em 0.2em; */
    color: white;
    user-select: none;
}

.filter:not(.active) {
    background-color: white;
    color: #111;
}


.spinner svg {
    width: 16px;
    height: 16px;
    display: inline;
}